[submodule "src/support/glfw-rs"]
	path = src/support/glfw-rs
	url = https://github.com/arkoh/glfw-rs.git
[submodule "src/support/gl-rs"]
	path = src/support/gl-rs
	url = https://github.com/arkoh/gl-rs.git
[submodule "src/support/nalgebra"]
	path = src/support/nalgebra
	url = https://github.com/sebcrozet/nalgebra.git
